.LanguageHamburger {
    position: relative;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
  }
  
  .LanguageMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    display: none; /* Hide the language menu by default */
    min-width: 120px; /* Set a minimum width for the menu */
  }
  
  .LanguageMenu.open {
    display: block; /* Show the language menu when open */
  }
  
  .LanguageButton {
    background-color: white;
    color: black; /* Set default text color to black */
    border: none;
    cursor: pointer;
    display: block; /* Display each button as a block element */
    margin: 5px 0; /* Add margin between buttons */
    padding: 5px 10px; /* Add padding to buttons */
    text-align: left; /* Align text to the left */
    width: 100%; /* Make buttons fill the width */
    transition: background-color 0.3s, color 0.3s; /* Add transition for color change */
  }
  
  .LanguageButton:hover {
    background-color: #4250cf;
    color: white;
  }